<div class="container">
<h2>Welcome to your Dashboard!</h2>

<div class="container">
    <%= render 'card-grid-interests' %>

    <!-- <ul>
      <% @interests.each do |interest| %>
       <li> <%= interest.name %> </li>
      <% end %>
    </ul>
  <%= link_to "Edit interests", sectors_path %> -->
</div>

<div class="container box">
    <h4>Your favorite companies</h4>
    <div>
      <div class="card-favorites">
        <% @favorites.each do |favorite| %>
          <div class="card-favorites-infos mt-4">
            <h2> <%= link_to favorite.name.capitalize, startup_path(favorite) %></h2>
             <p> <% favorite.sectors.each do |sector| %> </p>
                <p><%= sector.name.capitalize %> </p>
              <% end %>
            <p>:round_pushpin:Address: <%= favorite.address %> </p>
          </div>
       <% end %>
      </div>
    </div>
  </div>


<div class="applications">
  <%= render 'card-grid-applications' %>
</div>
