<div class="container">
<h2>Welcome to your Dashboard!</h2>

<div class="container">
    <%= render 'card-grid-interests' %>

    <!-- <ul>
      <% @interests.each do |interest| %>
       <li> <%= interest.name %> </li>
      <% end %>
    </ul>
  <%= link_to "Edit interests", sectors_path %> -->
</div>

<div class="container box">
  <h4>Your favorite companies</h4>
  <div class="card-favorites">
    <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill %>
    <% end %>
    <div class="card-favorites-infos">
      <h2>
        <% @favorites.each do |favorite| %>
        <%= link_to favorite.name, startup_path(favorite) %>
        <% end %>
      </h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
</div>

<div class="applications">
  <%= render 'card-grid-applications' %>
</div>
</div>
