<div class="container box-application">
  <h3>Your application for <%= @application.startup.name %></h3>
  <div class="d-flex">
    <div class="container">
      <%= render "application_content", application: @application %>
    </div>

    <div class="container">
      <% if @application.document.attached? %>
        <embed src="<%=cl_image_tag(@application.document.key)%>" type="pdf" width="100%" height="600px">
      <% else %>
        <%= simple_form_for @application, url: application_path(@application) do |f| %>
          <%= f.input :document, as: :file, class: "btn btn-outline-primary" %>
          <%= f.button :submit, "Attach document", class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
    <div style= "align-items=center">
      <%= link_to "", sent_application_path(@application), method: :patch, id: "delete-link", class: "hidden" %>
      <button id="sweet-alert-demo" class="btn btn-outline-primary">Submit your application</button>
      <%#= link_to "", flat_path(@flat), method: :delete, id: "delete-link", class: "hidden" %>
      <%= link_to "Edit your application", edit_application_path, class: "btn btn-outline-primary" %>
    </div>
</div>


<!--  < cl_image_tag("#{@application.document.key}.pdf") %> -->


