<div class="container box-application">
  <h1 style="color:#50A87C; text-align:center; margin-bottom: 40px;">Your application for <%= @application.startup.name %></h1>
  <p style="color:#52A87C; margin-top: -40px; text-align:center; margin-bottom: 60px;">______________________________________________________________________</p>
  <% if @application.document.attached? %>
    <div class="d-flex">
    <% end %>
      <div class="container">
        <%= render "application_content", application: @application %>
      </div>
      <div class="container" style="text-align: center">
        <% if @application.document.attached? %>
          <%= cl_image_tag(@application.document.key, width: 500, height: 700, crop: :fill) %>
        <% else %>
          <% if @application.sent == false %>
          <%= simple_form_for @application, url: application_path(@application) do |f| %>
            <%= f.input :document, as: :file, class: "btn btn-outline-primary", label: false, name: "Upload" %>
            <%= f.button :submit, "Attach document", class: "btn btn-outline-primary" %>
          <% end %>
          <% end %>
        <% end %>
      </div>
      <% if @application.document.attached? %>
    </div>
    <% end %>
  <div class="buttons-application">
    <div class="buttons-application-show">
      <% if @application.sent == false %>
      <%= link_to "", sent_application_path(@application), method: :patch, id: "delete-link", class: "hidden" %>
      <button id="sweet-alert-demo" class="btn btn-ghost">Submit your application</button>
      <%= link_to "Edit your application", edit_application_path, class: "btn btn-outline-primary" %>
      <% end %>
      <%= link_to "Go back to #{@application.startup.name}", startup_path(@application.startup.id), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
