<div class="container box-application">
  <h3>Your application for <%= @application.startup.name %></h3>
  <div class="d-flex">
    <div class="container">
      <%= render "application_content", application: @application %>
    </div>

    <div class="container">
      <% if @application.document.attached? %>
        <embed src="<%=cl_image_tag(@application.document.key)%>" type="pdf" width="100%" height="600px">
      <% else %>
        <%= simple_form_for @application, url: application_path(@application) do |f| %>
          <%= f.input :document, as: :file, class: "btn btn-outline-primary" %>
          <%= f.button :submit, "Attach document", class: "btn btn-ghost" %>
        <% end %>
      <% end %>
    </div>
  </div>
    <div style= "align-items=center">
      <%= link_to "Edit your Application", edit_application_path %>
      <%= link_to "Submit your application", sent_application_path(@application), method: :patch, class: "btn btn-outline-primary", style: "align-items: center" %>
    </div>
</div>


<!--  < cl_image_tag("#{@application.document.key}.pdf") %> -->


