<% content_for :meta_title, "#{@startup.name}" %>
<div class="container d-flex showw" style= "height:100vh">
  <div class="container card-startup-details">
    <div class="container">
      <div class="d-flex">
        <h1 style="white-space: nowrap;"> <%= @startup.name %> </h1>
        <% @startup.sectors.each do |sector| %>
          <i class="<%= sector.sector_icon_font %> sector-icon", style="margin-left:20px"></i>
        <% end %>
        <% if user_signed_in? %>
          <%  user_favorite = @startup.favorites.where(user_id: current_user.id).first %>
          <% if user_favorite %>
            <%= link_to '<i class="fas fa-heart favorite-icon"></i>'.html_safe, favorite_path(user_favorite), method: :delete %>
          <% else %>
            <%= link_to '<i class="far fa-heart favorite-icon"></i>'.html_safe, startup_favorites_path(@startup), method: :post %>
          <% end %>
        <% end %>
      </div>
      <hr style="color:#52A87C; margin-bottom: 20px">
      <p> <%= @startup.description %> </p>
      <p style="margin-bottom:0px"><i class="fas fa-map-marker-alt" style="margin-right:15px"></i>   <%= @startup.address %> </p>
      <i class="fas fa-external-link-alt" style="margin-right:15px"></i> <a href="<%= @startup.website %>" style="color:#52A87C; font-size:large"> <%= @startup.website %> </a>
      <p style="margin-top: 5px"><i class="fas fa-envelope" style="margin-right:15px"></i> <%= @startup.email %> </p>
<!-- BUTTONS  -->

    <% if user_signed_in? && current_user.application_for(@startup) %>
        <%= link_to 'View application', application_path(current_user.application_for(@startup)), class: "btn btn-ghost" %>
    <% else %>
      <%= simple_form_for [@startup, @application] do |f| %>
        <%= hidden_field_tag "application[startup_id]", @startup.id %>
        <%= f.button :submit, class: "btn btn-ghost" %>
      <% end %>
    <% end %>

    <%= link_to "Back to all startups", startups_path, class: "btn btn-outline-primary btn-sm" %>

    </div>
  </div>
 <div class="container">
  <div class="col col-lg-12">
      <div id="map" class="z-depth-1-half map-container-6" style="height: 600px; margin-top:50px"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
