<h1>Startups#show</h1>
<p>Find me in app/views/startups/show.html.erb</p>

<%= @startup.name %>
<% @startup.sectors.each do |sector| %>
<%= sector.name %>
<% end %>

<%= @startup.description %>
<%= @startup.address %>
<%= @startup.website %>
<%= @startup.email %>



<%= simple_form_for @user, url: startup_favorite_path(@user.id, @startup.id), method: "patch" do |f| %>
  <%= f.association :favorites, as: :check_boxes %>
  <%= f.submit "Add to my favorites" %>
<% end %>
