<h1>Sectors#index</h1>
<p>Find me in app/views/sectors/index.html.erb</p>

<!-- Select your city -->
<!-- <div class="col-sx-6">
  <%#= f.input :city, collection: Post::City, prompt: "Select your city" %>
</div> -->


<!-- Jasmin's code -->
<%= simple_form_for @user, url: profile_path(id: @user.id), method: "patch" do |f| %>
  <%= f.association :sectors, as: :check_boxes %>
  <%= f.submit "Save my interests", class: "btn btn-success" %>
<% end %>


<!-- <div class="form-group">
  <input type="hidden" name="user[sector_ids][]" value="">
  <% #Sector.all.each do |sector| %>
    <input class="check_boxes optional" type="checkbox" value="<%= sector.id %>" name="user[sector_ids][]" id="user_sector_ids <%= sector.id %>">

    <label for="user_sector_ids_<%= sector.id %>">
    </label>
    <% #end %>

    <%#= f.submit "Save my interests", class: "btn btn-success" %>
    <%# end %> -->

<!-- </div>


<fieldset class="form-group check_boxes optional user_sectors">
  <legend class="col-form-label pt-0">Sectors</legend>
  <input type="hidden" name="user[sector_ids][]" value="">
  <div class="form-check">
    <input class="form-check-input check_boxes optional" type="checkbox" value="1" name="user[sector_ids][]" id="user_sector_ids_1">
    <label class="form-check-label collection_check_boxes" for="user_sector_ids_1">medical</label>
  </div>
    <div class="form-check">
      <input class="form-check-input check_boxes optional" type="checkbox" value="2" name="user[sector_ids][]" id="user_sector_ids_2">
      <label class="form-check-label collection_check_boxes" for="user_sector_ids_2">IT</label></div>
      <div class="form-check">
        <input class="form-check-input check_boxes optional" type="checkbox" value="3" name="user[sector_ids][]" id="user_sector_ids_3">
        <label class="form-check-label collection_check_boxes" for="user_sector_ids_3">HR</label>
      </div>
        <div class="form-check">
          <input class="form-check-input check_boxes optional" type="checkbox" value="4" name="user[sector_ids][]" id="user_sector_ids_4">
          <label class="form-check-label collection_check_boxes" for="user_sector_ids_4">sports</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="5" name="user[sector_ids][]" id="user_sector_ids_5"><label class="form-check-label collection_check_boxes" for="user_sector_ids_5">gaming</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="6" name="user[sector_ids][]" id="user_sector_ids_6"><label class="form-check-label collection_check_boxes" for="user_sector_ids_6">gaming</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="7" name="user[sector_ids][]" id="user_sector_ids_7"><label class="form-check-label collection_check_boxes" for="user_sector_ids_7">environment</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="8" name="user[sector_ids][]" id="user_sector_ids_8"><label class="form-check-label collection_check_boxes" for="user_sector_ids_8">medical</label></div></fieldset> -->

