<!-- Select your city -->
<!-- <div class="col-sx-6">
  <%#= f.input :city, collection: Post::City, prompt: "Select your city" %>
</div> -->


<div class="container">
  <div class="form-sector">
    <h1 style="color:#50A87C;">Select your interests</h1>
    <p style="color:#52A87C; margin-top: -40px;">___________________________________________</p>
    <%= simple_form_for @user, url: profile_path(id: @user.id), method: :patch do |f| %>
    <div class="form-group">
      <!-- <label class="control-label check_boxes optional">Categories</label> -->
      <input type="hidden" name="user[sector_ids][]" value="">
      <div class="category-choices">
        <% Sector.all.each do |sector| %>
        <input type="checkbox" class="d-none" value="<%= sector.id %>" name="user[sector_ids][]" id="user_sector_ids_<%= sector.id %>">
        <label for="user_sector_ids_<%= sector.id %>" class="category-choice">
          <%= sector.name.capitalize %>
          <i class="<%= sector.sector_icon_font %>"></i>
          <!-- to be updated with the right css etc.  -->
        </label>
        <% end %>
      </div>
    </div>
    <div id="button-center">
    <%= f.button :submit, "Save my interests", class: "btn btn-ghost" %>
    <% end %>
    </div>
  </div>
</div>


<script>
  const sectors = document.querySelectorAll('.category-choice');

const toggleActiveClass = (event) => {
  event.currentTarget.classList.toggle('active');
};

const toggleActiveOnClick = (sector) => {
  sector.addEventListener('click', toggleActiveClass);
};

sectors.forEach(toggleActiveOnClick);

</script>
