<div class="container">
  <div class="card-grid-logo">
    <div class="card-logo">
      <%= image_tag "https://berlin.impacthub.net/wp-content/uploads/2019/01/RED-Berlin-PR.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://berlin-tech-academy.de/wp-content/uploads/2018/10/BERLIN_TECH_ACADEMY_logo_lockup_RGB.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/TU-Berlin-Logo.svg/2000px-TU-Berlin-Logo.svg.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://www.so1.ai/wp-content/uploads/2018/01/MS-Accelerator-grey-1.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://assets.t3n.sc/news/wp-content/uploads/2013/11/berlin_hardware_accelerator.jpg?auto=format&h=&ixlib=php-2.3.0&w=", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://www.fluxfm.de/wp-content/uploads/2018/03/LMA_Logo_Centered_BLACK.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://www.hivenetwork.online/wp-content/uploads/2019/02/techstars-berlin-930x502.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/0/02/German_Accelerator_Logo.png", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://www.gruenderszene.de/wp-content/uploads/2012/03/startupbootcamp.jpg", class: "card-image-logo" %>
    </div>
    <div class="card-logo">
      <%= image_tag "https://www.moreyum.com/preview/futurex/wp-content/uploads/2019/08/Factory-Berlin-600x0-c-default.png", class: "card-image-logo" %>
    </div>
  </div>
</div>
